.start-btn, .stop-btn  {
    font-size: 24px; /* Aumenta el tamaño del icono */
    background-color: #4CAF50; /* Fondo verde */
    color: white; /* Color del icono */
    border: none;
    border-radius: 50%; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    margin: 10px; /* Espaciado externo */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar un efecto de elevación */
    transition: background-color 0.3s, transform 0.3s; /* Transiciones suaves */
}

.stop-btn {
    background-color: #f44336; /* Fondo rojo */
}

.start-btn:hover {
    background-color: #45a049; /* Cambio de color al pasar el ratón (hover) */
    transform: scale(1.1); /* Aumenta el tamaño al pasar el ratón */
}

.stop-btn:hover {
    background-color: #e53935; /* Cambio de color al pasar el ratón (hover) */
}


#read-btn {
    font-size: 24px; /* Aumenta el tamaño del icono */
    background-color: #007BFF; /* Fondo azul */
    color: white; /* Color del icono */
    border: none;
    border-radius: 50%; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    margin: 10px; /* Espaciado externo */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar un efecto de elevación */
    transition: background-color 0.3s, transform 0.3s; /* Transiciones suaves */
}

#read-btn:hover {
    background-color: #0056b3; /* Cambio de color al pasar el ratón (hover) */
    transform: scale(1.1); /* Aumenta el tamaño al pasar el ratón */
}

/* Ocultar el banner superior de Google Translate */
.goog-te-banner-frame.skiptranslate {
    display: none !important;
  }
  body {
    top: 0px !important;
  }    
  /* Estilo para el selector de idioma */
  #google_translate_element {
    margin-top: 20px;
    text-align: right;
  }
  .goog-te-gadget-simple {
    background-color: #f1f1f1;
    border: 1px solid #d4d4d4;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  .goog-te-gadget-simple:hover {
    background-color: #e1e1e1;
  }
  .goog-te-gadget-simple .goog-te-menu-value span {
    color: #333;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row {
    display: flex;
    gap: 10px;
}

.button {
    display: block;
    margin-top: 5px;
    font-size: 20px;
    color: #000;
    text-align: center;
    cursor: pointer;
    background-color: #b0bec5;
    border: none;
    border-radius: 5px;
    padding: 10px;
    
}

