body {
}

.grid 
		{
			border-width:0px;
			font-size:12px;
		}

        .grid caption 
        {
	        background:#f9f9f9 url(../images/captionbckg.gif) repeat-x;
	        color:#ffffff;
	        text-align:left;
	        line-height:22px;
	        font-size:12px;
	        font-weight:bold;
	        padding-top:2px;
	        padding-left:2px;
	        font-family:tahoma,arial,verdana,sans-serif;
        }

        .grid table 
        {
        	border:solid 1px #002b00;
        	height:30px;
	    }
	        
        .grid th
        {
	        background:transparent url(../images/thbackground.gif) repeat;
            height:19px;
            border:solid 1px #008000;
            font-weight:normal;
        }

        .grid td
        {
	        border:1px solid #002b00;
            color:Black;
            height:25px;
        }
        
        .pagerstyle 
        {
	        font-size:x-small;
	        text-align:left;
            background-position: bottom left;
            background: #D0DEF0 url(../images/toolbarbck.gif) repeat-x scroll left top;
        }

        .gopag 
        {
            font-size:x-small;
            width:20px;
        }

        .pagprev
        {
            background:transparent url(../images/previous.png) no-repeat scroll center;
            height:1.3em;
            width:16px;
            cursor:pointer;
            border:0px;
        }
        
        .pagnext
        {
            background:transparent url(../images/next.png) no-repeat scroll center;
            height:1.3em;
            width:16px;
            cursor:pointer;
            border:0px;
        }

        .pagfirst
        {
            background:transparent url(../images/first.png) no-repeat scroll center;
            height:1.3em;
            width:16px;
            cursor:pointer;
            border:0px;
        }
        
        .paglast
        {
            background:transparent url(../images/last.png) no-repeat scroll center;
            height:1.3em;
            width:16px;
            cursor:pointer;
            border:0px;
        }
