
/*footer p{
    font-size: 12px !important;
}*/

/**************/

html, body {
  height: 100%;  
}

#wrap {
  min-height: 86%;
  height: auto;  
  margin: 0 auto -60px; 
  padding: 0 0 60px;
}
/* Set the fixed height of the footer here */
#footer {
  height: auto;  
  background-color: #f5f5f5;
 
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */



/*****************/

.pie-pagina {
    margin-top: 10%;
    margin-bottom: -150px;
    background-color:#3D3D3D;
}
/*Cabecera */
.jumbotron{
    padding: 0;
    height: auto !important;    
    color: white;
    background-color:#0C2900;
}
#titulo1{
    float: left;     
    margin-top: 5px;
    margin-bottom: 5px;
    width:80%;    
    padding-left: 0px;
    padding-right: 20px;
    height: 40px;
    }
    #titulo1 p {  
        text-align: left;
        font-size: 18px;
    }

#titulo2{
    float: left;     
    margin-bottom: 5px; 
    text-align: right;
    width:10%;  
    padding-right: 50px;
    padding-top: 10px;
    }
.titulo3 {
    display: none;    
}

a:link {
        text-decoration:none;
        color:white;
        font-size: 18px;
    }
a:visited {
        text-decoration:none;color:white;
    }
a:active {
        text-decoration:none;color:white;
    }
a:hover {
        text-decoration:none;color:green;
    }  

.titulo4 {
   margin: 0 auto;
   margin-top: -30px;
   width:100%;
   height:50px;
   background-color:#0C2900;
   color: white;   
   text-align: center;
   padding-top: 10px;   
   text-decoration:none;   
   border-radius: 0px 0px 65px 65px;
    -moz-border-radius: 0px 0px 65px 65px;
    -webkit-border-radius: 0px 0px 65px 65px;
    margin-bottom: 0px;
}

#tipoinformacion, #pn_denuncia_linea{
  margin-top: 34px;
}

.thumbnail{
    
  -webkit-box-shadow: 0px 0px 49px -10px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 49px -10px rgba(0,0,0,0.75);
box-shadow: 0px 0px 49px -10px rgba(0,0,0,0.75);

border-radius: 15px 15px 15px 15px;
-moz-border-radius: 15px 15px 15px 15px;
-webkit-border-radius: 15px 15px 15px 15px;
border: 0px solid #000000;
background-color:#DDEFDA;

}

.principal .policia-preguntas{
position: absolute;
top: 120px;
}


/*Manejo de paneles*/
.btn-menu {
    border-radius: 0px 200px 200px 0px;
-moz-border-radius: 0px 200px 200px 0px;
-webkit-border-radius: 0px 200px 200px 0px;
border: 0px solid #000000;
    height: 40px;
    text-align: left;
    width: 300px;
    font-weight: bold;
    background: #C7C7C7 !important;
    color: black;
    margin-top: 7px !important;    

}

.panel-index{ /*Personaliza el tamaño del panel*/
    width: 330px;
    margin: 0 auto;     
}

.panel{
    border: 1 solid white !important;
    border-radius: 40px 40px 0px 0px;
    -moz-border-radius: 40px 40px 0px 0px;
    -webkit-border-radius: 40px 40px 0px 0px;
}
.panel-heading{
    padding: 1px 15px;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 12px 120px 10px 12px;
}
.panel-titulo{ /*Personaliza color del fondo del panel del titulo*/   
    background-image: url(../img/cinta_titulo.png) !important;
    color:white !important;     
}
.label{
    color: #676767 !important;
    font-weight: none !important;
}

.btn-direccion{
    margin: 0;
    padding: 0;
    height: 25px !important;
    width: 25px;
    background-image: url(img/editar.png);
    background-color:white !important; 
    color:white !important;  
}

 .img-responsive{      
      margin: 0 auto;
    }

/*Animacion pantalla inicial*/
.crossfade > figure {
    animation: imageAnimation 10s linear infinite 0s;
    backface-visibility: hidden;
    background-size: cover;
    background-position: center center;
    color: transparent;
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: -100;
}

.crossfade > figure:nth-child(1) {
   background-image: url('../img/Foto1.png');
  background-size: 2100px 1000px;
  background-repeat: no-repeat;
}
.crossfade > figure:nth-child(2) {
  animation-delay: 5s;
  background-image: url('../img/Foto1.png');
  background-size: 2100px 1000px;
  background-repeat: no-repeat;
}
.crossfade > figure:nth-child(3) {
  animation-delay: 8s;
   background-image: url('../img/Foto1.png');
  background-size: 2100px 1000px;
  background-repeat: no-repeat;
}
.crossfade > figure:nth-child(4) {
  animation-delay: 9s;
   background-image: url('../img/Foto1.png');
 background-size: 2100px 1000px;
  background-repeat: no-repeat;
}
.crossfade > figure:nth-child(5) {
  animation-delay: 5s;
  background-image: url('../img/Foto1.png');
  background-size: 2100px 1000px;
  background-repeat: no-repeat;
}

@keyframes imageAnimation {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
  }
  8% {
    animation-timing-function: ease-out;
    opacity: 1;
  }
  17% {
    opacity: 0.5
  }
  25% {
    opacity: 0.3
  }
  100% {
    opacity: 0
  }
}

@media(max-width:767px){
    #titulo1 {           
        padding: 0px;
        font-size: 14px;
        text-align: left;
        height: 40px !important;
        width: 100%;       
    }
    #titulo1 p {  
        text-align: left;
        font-size: 14px;
    }
    #titulo2 {
        display: none;
    }
    .titulo3 {
        margin-top: -30px;
        padding-top: 3px;
        display: block;          
        height:30px !important;
    }
    .jumbotron p{
        padding-top: 2px;        
        font-size: 12px;
        text-align: center;
    }
    .titulo4 p{
        font-size:17px;
    }

    #tipoinformacion, #pn_denuncia_linea {
      margin-top: 20px;
    }
    .img-responsive{
      max-width: 95% !important;     
      margin: 0 auto;
    }   

}


/* Responsive teléfonos */ 
@media(max-width:320px){
    
    #titulo1 {
        clear: both; 
        text-align: center;
        height: 40px !important;
    }
    #titulo1 p {
        font-size: 14px;
        padding: 0px;
        margin: 0px;
    }
    #titulo2 {
        display: none;
    }

    .titulo3 {       
        display: block;
        background-color:#3D3D3D;        
        text-align: center;        
    } 
    .panel-titulo{ /*Personaliza color del fondo del panel del titulo*/        
       font-size: 14px;  
    } 
    .panel-index{ /*Personaliza el tamaño del panel*/
        width: 255px;
        margin: 0 auto;
    }  
    .btn-menu {
        width: 235px;
        font-size: 12px;
    }
    .titulo4 p{
        font-size:14px !important;
    }
    .jumbotron p{
        padding-top: 2px;        
        font-size: 12px;
    }    
    .img-responsive{
      max-width: 70% !important;
      margin: 0 auto;
    }

    #tipoinformacion, #pn_denuncia_linea {
      margin-top: 10px;
    }    
}
.etiqueta
    {
    font-family: Arial; 
    font-size: 12px; 
    font-style: normal; 
    color: #02713b; 
    font-weight: bold;
    }