.p_
{
	margin: 0;
	padding: 0;
	border-width: 0;
	-webkit-transform-origin: left top;
	-ms-transform-origin: left top;
	-o-transform-origin: left top;
	transform-origin: left top;
	font-family: Arial;
}

.contorno_ser {	
	background: url(../images/fondo_link.png) no-repeat;	
	border-radius: 10px;	
	position: absolute;
	height: 500px;
	width: 285px;
    margin-left:0px; 
    margin-top: 500px; 
    padding:5px; 	
}

.contorno_noti {
	width:1005px;
	height:100px;
	position:relative;
	z-index:0; 
    margin-top:10px;
}

.contorno_menu {
	width:1005px;
	height:0px;
	position:relative;
	z-index:1; 
    margin-top:10px;   
}

.contorno_bieso {
	width:1005px;
	height:420px;
	position:relative;
	z-index:0;    
	background:url(../images/fondo_servicios.png) no-repeat;
    margin-top:95px;
}

.contorno_rotator {
	width:100%;
	height:260px;
	position:relative;
	z-index:0;    	
    margin-top:10px;
}

.contenedor_boto {
	width:1005px;
	height:374px;
	position:relative;
	z-index:0;    
	background:url(../images/BOTONES_Solo_fondo.png) no-repeat;
    margin-top:10px;
}

.contorno_link {
	width:1005px;
	height:324px;
	position:relative;
	z-index:0;    
	background:url(../images/linksinteres.png) no-repeat;
    margin-top:10px;
}


.marque_cumple {
    float:left; 
    width: 100%; 
    margin-top: -10px; 
    position:absolute; 
    color: #02713b; 
    font-family: arial,helvetica; 
    font-size: 12px; 
    font-weight: bold;           
  } 

.marque_start {
   color: black; 
   font-family: arial,helvetica; 
   font-size: 12px; 
   font-weight: bold; 
   width: 498px;            
  } 

.contorno_fotos {
	width:1005px;
	height:310px;
	position:relative;
	z-index:0;    	
    margin-top:10px;
}

.contorno_vent {	
	background: url(../images/fondo_serv_vent.png) no-repeat;	
	border-radius: 10px;	
	position: absolute;
	height: 500px;
	width: 340px;
    margin-left:294px; 
    margin-top: 0px; 
    padding:5px;
    z-index:1; 
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 420px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

#u75
{
	z-index: 2;
	width: 1000px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 4px;
}

#pamphletu150
{
	z-index: 4;
	width: 0.01px;
	height: 380px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 656px;
}

#u161
{
	position: absolute;
	width: 334px;
}

#u161popup
{
	z-index: 5;
}

#u167
{
	z-index: 6;
	width: 334px;
	height: 354px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 15px;
	position: relative;
	margin-right: -10000px;
}

#u209
{
	z-index: 7;
	width: 330px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 2px;
}

#u215
{
	z-index: 9;
	width: 69px;
	height: 33px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 313px;
	left: 224px;
	background: transparent url("../images/entrar-gris.png") no-repeat left top;
}

#u162
{
	z-index: 10;
	width: 334px;
	height: 354px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 15px;
	position: relative;
	margin-right: -10000px;
}

#u227
{
	z-index: 11;
	width: 330px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 2px;
}

#u239
{
	z-index: 13;
	width: 69px;
	height: 33px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 313px;
	left: 224px;
	background: transparent url("../images/entrar-gris.png") no-repeat left top;
}

#u172
{
	z-index: 14;
	width: 334px;
	height: 354px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 15px;
	position: relative;
	margin-right: -10000px;
}

#u233
{
	z-index: 15;
	width: 330px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 2px;
}

#u240
{
	z-index: 17;
	width: 69px;
	height: 33px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 313px;
	left: 224px;
	background: transparent url("../images/entrar-gris.png") no-repeat left top;
}

#u189
{
	z-index: 18;
	width: 334px;
	height: 354px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 15px;
	position: relative;
	margin-right: -10000px;
}

#u241
{
	z-index: 19;
	width: 330px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 2px;
}

#u248
{
	z-index: 21;
	width: 69px;
	height: 33px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 313px;
	left: 224px;
	background: transparent url("../images/entrar-gris.png") no-repeat left top;
}

#u215:hover,#u239:hover,#u240:hover,#u248:hover
{
	width: 69px;
	height: 33px;
	min-height: 0px;
	margin: 313px -10000px 0px 0px;
	background: transparent url("../images/entrar-verde.png") no-repeat left top;
}

#u291
{
	z-index: 22;
	width: 334px;
	height: 354px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 15px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 1px;
}

#u297
{
	z-index: 23;
	width: 334px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u297_img
{
	padding-right: 4px;
	padding-bottom: 4px;
}

#u306
{
	z-index: 25;
	width: 69px;
	height: 33px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 311px;
	left: 223px;
	background: transparent url("../images/entrar-gris.png") no-repeat left top;
}

#u306:hover
{
	width: 69px;
	height: 33px;
	min-height: 0px;
	margin: 311px -10000px 0px 0px;
	background: transparent url("../images/entrar-verde.png") no-repeat left top;
}

#u151
{
	z-index: 26;
	width: 149px;
	position: relative;
	margin-right: -10000px;
	margin-top: 364px;
	left: 93px;
}

#u153
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	border-radius: 10px;
}

#u153:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u153.PamphletThumbSelected
{
	background-color: #6B6B6B;
	border-radius: 10px;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u154
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	border-radius: 10px;
	left: 33px;
}

#u154:hover
{
	background-color: #999999;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u152
{
	position: absolute;
	width: 16px;
	height: 16px;
	background-color: #C4C4C4;
	border-radius: 10px;
	left: 67px;
}

#u152:hover
{
	border-color: #000000;
	background-color: #999999;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u195
{
	position: absolute;
	width: 16px;
	height: 16px;
	background-color: #C4C4C4;
	border-radius: 10px;
	left: 100px;
}

#u195:hover
{
	border-color: #000000;
	background-color: #999999;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u296
{
	position: absolute;
	width: 16px;
	height: 16px;
	background-color: #C4C4C4;
	border-radius: 10px;
	left: 133px;
}

#u296:hover
{
	border-color: #000000;
	background-color: #999999;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u154.PamphletThumbSelected,#u152.PamphletThumbSelected,#u195.PamphletThumbSelected,#u296.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	border-radius: 10px;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#buttonu270
{
	z-index: 32;
	width: 266px;
	border-color: #787878;
	background-color: #CACACA;
	border-radius: 0px 10px 10px 0px ;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 76px;
	left: 10px;
    color: #000000;
	direction: ltr;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 0px;
	line-height: 17px;
	text-align: left;
}

#buttonu270:hover
{
	background-color: #009245;
	width: 266px;
	min-height: 0px;
	margin: 76px -10000px 0px 0px;
}

#buttonu270.ButtonSelected
{
	background-color: #CACACA;
	width: 266px;
	min-height: 0px;
	margin: 76px -10000px 0px 0px;
}

#u271
{
	z-index: 37;
	width: 15px;
	height: 15px;
	border-color: #000000;
	background-color: #545454;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 10px;
}

#buttonu270:hover #u271
{
	background-color: #FFFFFF;
	width: 15px;
	height: 15px;
	min-height: 0px;
	margin: 12px -10000px 0px 0px;
}

#u272-4
{
	z-index: 33;
	width: 221px;
	min-height: 23px;
	background-color: transparent;
	font-size: 14px;
	text-align: left;
	color: #3C3C3C;
	letter-spacing: 1px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 32px;
}

#buttonu270:hover #u272-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 221px;
	margin: 12px -10000px 0px 0px;
}

#buttonu270:hover #u272-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu273
{
	z-index: 38;
	width: 266px;
	border-color: #787878;
	background-color: #CACACA;
	border-radius: 0px 10px 10px 0px ;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 121px;
	left: 10px;
    color: #000000;
	direction: ltr;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 0px;
	line-height: 17px;
	text-align: left;
}

#buttonu273:hover
{
	background-color: #009245;
	width: 266px;
	min-height: 0px;
	margin: 121px -10000px 0px 0px;
}

#buttonu273.ButtonSelected
{
	background-color: #CACACA;
	width: 266px;
	min-height: 0px;
	margin: 121px -10000px 0px 0px;
}

#u275
{
	z-index: 43;
	width: 15px;
	height: 15px;
	border-color: #000000;
	background-color: #545454;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 10px;
}

#buttonu273:hover #u275
{
	background-color: #FFFFFF;
	width: 15px;
	height: 15px;
	min-height: 0px;
	margin: 12px -10000px 0px 0px;
}

#u274-4
{
	z-index: 39;
	width: 221px;
	min-height: 23px;
	background-color: transparent;
	font-size: 14px;
	text-align: left;
	color: #3C3C3C;
	letter-spacing: 1px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 32px;
}

#buttonu270.ButtonSelected #u272-4,#buttonu273:hover #u274-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 221px;
	margin: 12px -10000px 0px 0px;
}

#buttonu273:hover #u274-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu276
{
	z-index: 44;
	width: 266px;
	border-color: #787878;
	background-color: #CACACA;
	border-radius: 0px 10px 10px 0px ;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 166px;
	left: 10px;
    color: #000000;
	direction: ltr;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 0px;
	line-height: 17px;
	text-align: left;
}

#buttonu276:hover
{
	background-color: #009245;
	width: 266px;
	min-height: 0px;
	margin: 166px -10000px 0px 0px;
}

#buttonu276.ButtonSelected
{
	background-color: #CACACA;
	width: 266px;
	min-height: 0px;
	margin: 166px -10000px 0px 0px;
}

#u278
{
	z-index: 49;
	width: 15px;
	height: 15px;
	border-color: #000000;
	background-color: #545454;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 10px;
}

#buttonu276:hover #u278
{
	background-color: #FFFFFF;
	width: 15px;
	height: 15px;
	min-height: 0px;
	margin: 12px -10000px 0px 0px;
}

#u277-4
{
	z-index: 45;
	width: 221px;
	min-height: 23px;
	background-color: transparent;
	font-size: 14px;
	text-align: left;
	color: #3C3C3C;
	letter-spacing: 1px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 32px;
}

#buttonu273.ButtonSelected #u274-4,#buttonu276:hover #u277-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 221px;
	margin: 12px -10000px 0px 0px;
}

#buttonu276:hover #u277-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu279
{
	z-index: 50;
	width: 266px;
	border-color: #787878;
	background-color: #CACACA;
	border-radius: 0px 10px 10px 0px ;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 211px;
	left: 10px;
    color: #000000;
	direction: ltr;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 0px;
	line-height: 17px;
	text-align: left;
}

#buttonu279:hover
{
	background-color: #009245;
	width: 266px;
	min-height: 0px;
	margin: 211px -10000px 0px 0px;
}

#buttonu279.ButtonSelected
{
	background-color: #CACACA;
	width: 266px;
	min-height: 0px;
	margin: 211px -10000px 0px 0px;
}

#u281
{
	z-index: 55;
	width: 15px;
	height: 15px;
	border-color: #000000;
	background-color: #545454;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 10px;
}

#buttonu279:hover #u281
{
	background-color: #FFFFFF;
	width: 15px;
	height: 15px;
	min-height: 0px;
	margin: 12px -10000px 0px 0px;
}

#u280-4
{
	z-index: 51;
	width: 221px;
	min-height: 23px;
	background-color: transparent;
	font-size: 14px;
	text-align: left;
	color: #3C3C3C;
	letter-spacing: 1px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 32px;
}

#buttonu276.ButtonSelected #u277-4,#buttonu279:hover #u280-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 221px;
	margin: 12px -10000px 0px 0px;
}

#buttonu279:hover #u280-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu282
{
	z-index: 56;
	width: 266px;
	border-color: #787878;
	background-color: #CACACA;
	border-radius: 0px 10px 10px 0px ;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 256px;
	left: 10px;    
    color: #000000;
	direction: ltr;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 0px;
	line-height: 17px;
	text-align: left;
}

#buttonu282:hover
{
	background-color: #009245;
	width: 266px;
	min-height: 0px;
	margin: 256px -10000px 0px 0px;
}

#buttonu282.ButtonSelected
{
	background-color: #CACACA;
	width: 266px;
	min-height: 0px;
	margin: 256px -10000px 0px 0px;
}

#u284
{
	z-index: 61;
	width: 15px;
	height: 15px;
	border-color: #000000;
	background-color: #545454;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 10px;
}

#buttonu282:hover #u284
{
	background-color: #FFFFFF;
	width: 15px;
	height: 15px;
	min-height: 0px;
	margin: 12px -10000px 0px 0px;
}

#u283-4
{
	z-index: 57;
	width: 221px;
	min-height: 23px;
	background-color: transparent;
	font-size: 14px;
	text-align: left;
	color: #3C3C3C;
	letter-spacing: 1px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 32px;
}

#buttonu279.ButtonSelected #u280-4,#buttonu282:hover #u283-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 221px;
	margin: 12px -10000px 0px 0px;
}

#buttonu282:hover #u283-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu285
{
	z-index: 62;
	width: 266px;
	border-color: #787878;
	background-color: #CACACA;
	border-radius: 0px 10px 10px 0px ;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 301px;
	left: 10px;
    color: #000000;
	direction: ltr;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 0px;
	line-height: 17px;
	text-align: left;
}

#buttonu285:hover
{
	background-color: #009245;
	width: 266px;
	min-height: 0px;
	margin: 301px -10000px 0px 0px;
}

#buttonu285.ButtonSelected
{
	background-color: #CACACA;
	width: 266px;
	min-height: 0px;
	margin: 301px -10000px 0px 0px;
}

#u287
{
	z-index: 67;
	width: 15px;
	height: 15px;
	border-color: #000000;
	background-color: #545454;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 10px;
}

#buttonu285:hover #u287
{
	background-color: #FFFFFF;
	width: 15px;
	height: 15px;
	min-height: 0px;
	margin: 12px -10000px 0px 0px;
}

#u286-4
{
	z-index: 63;
	width: 221px;
	min-height: 23px;
	background-color: transparent;
	font-size: 14px;
	text-align: left;
	color: #3C3C3C;
	letter-spacing: 1px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 32px;
}

#buttonu282.ButtonSelected #u283-4,#buttonu285:hover #u286-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 221px;
	margin: 12px -10000px 0px 0px;
}

#buttonu285:hover #u286-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu2881
{
	z-index: 68;
	width: 266px;
	border-color: #787878;
	background-color: #CACACA;
	border-radius: 0px 10px 10px 0px ;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 346px;
	left: 10px;    
    color: #000000;
	direction: ltr;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 0px;
	line-height: 17px;
	text-align: left;
}

#buttonu2881:hover
{
	background-color: #009245;
	width: 266px;
	min-height: 0px;
	margin: 346px -10000px 0px 0px;
}

#buttonu2881.ButtonSelected
{
	background-color: #CACACA;
	width: 266px;
	min-height: 0px;
	margin: 346px -10000px 0px 0px;
}

#u2901
{
	z-index: 73;
	width: 15px;
	height: 15px;
	border-color: #000000;
	background-color: #545454;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 10px;
}

#buttonu2881:hover #u2901
{
	background-color: #FFFFFF;
	width: 15px;
	height: 15px;
	min-height: 0px;
	margin: 12px -10000px 0px 0px;
}

#buttonu270.ButtonSelected #u271,#buttonu273.ButtonSelected #u275,#buttonu276.ButtonSelected #u278,#buttonu279.ButtonSelected #u281,#buttonu282.ButtonSelected #u284,#buttonu285.ButtonSelected #u287,#buttonu2881.ButtonSelected #u2901
{
	background-color: #545454;
	width: 15px;
	height: 15px;
	min-height: 0px;
	margin: 12px -10000px 0px 0px;
}

#u289-4
{
	z-index: 69;
	width: 221px;
	min-height: 23px;
	background-color: transparent;
	font-size: 14px;
	text-align: left;
	color: #3C3C3C;
	letter-spacing: 1px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 32px;
}

#buttonu285.ButtonSelected #u286-4,#buttonu2881:hover #u289-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 221px;
	margin: 12px -10000px 0px 0px;
}

#buttonu2881.ButtonSelected #u289-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 221px;
	margin: 12px -10000px 0px 0px;
}

#buttonu2881:hover #u289-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu270.ButtonSelected #u272-4 p,#buttonu273.ButtonSelected #u274-4 p,#buttonu276.ButtonSelected #u277-4 p,#buttonu279.ButtonSelected #u280-4 p,#buttonu282.ButtonSelected #u283-4 p,#buttonu285.ButtonSelected #u286-4 p,#buttonu2881.ButtonSelected #u289-4 p
{
	color: #3C3C3C;
	visibility: inherit;
}

#page .verticalspacer
{
	clear: both;
}


