	#player{
	width: 100%; 									/* ancho del reproductor */
	height: 56px; 								/* alto del reproductor */
	position: absolute;
	}
	
	#valorSeleccionado {
	width:260px;
	height: 56px;
	position: absolute;
	top: 0px;
	left: 4px;
	}
		
	#selector{
	position: absolute;
	left: 101px;
	top: 17px;
    width:90px;
	}

	#bg{
	position: absolute;
	left: 6px;
	}

    #logo{
	position: absolute;
	left: 274px;
	width: 55px;
	height: 52px;
	top: 1px;
	}
