.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row {
    display: flex;
    gap: 10px;
}

.button {
    display: block;
    margin-top: 5px;
    font-size: 20px;
    color: #000;
    text-align: center;
    cursor: pointer;
    background-color: #b0bec5;
    border: none;
    border-radius: 5px;
    padding: 10px;
    
}
